services:
  - type: web
    name: loadmatrix
    runtime: python
    buildCommand: |
      pip install -r requirements.txt &&
      cd frontend &&
      npm install &&
      npm run build &&
      cd ..
    startCommand: gunicorn --bind 0.0.0.0:$PORT --workers 4 backend.render_entrypoint:application
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_DEFAULT_SENDER
        value: support@loadmatrix.com